.block2 {
  grid-area: block2;
  display: grid;
  grid-template-areas: "block2_left block2_right ." "block2_botton block2_botton .";
  padding-top: 80px;
  background-image: url("/images/bg/bgbg.png");
  background-position: center;
  background-size: cover;
  color: aliceblue;
  grid-template-columns: 1fr 1fr 40px;
  grid-template-rows: 400px 50px; }

.block2_right {
  grid-area: block2_right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  align-self: center;
  margin-right: 20px; }

.block2_video {
  width: 100%; }

.block2_left {
  grid-area: block2_left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  align-self: center; }

.block2_botton {
  grid-area: block2_botton; }

.block2_left_info {
  align-self: center;
  display: grid;
  grid-template-areas: "block2_left_title" "block2_left_clock" "block2_left_text";
  grid-template-rows: 60px 100px 120px; }

.block2_left_title {
  grid-area: block2_left_title;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Open Sans', sans-serif; }
  .block2_left_title p {
    display: table;
    background: #008009;
    background: -moz-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #008009), color-stop(100%, #cfffba));
    background: -webkit-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -o-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -ms-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: linear-gradient(45deg, #008009 0%, #cfffba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.block2_left_clock {
  grid-area: block2_left_clock;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.block2_left_text {
  grid-area: block2_left_text;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-align: justify; }
  .block2_left_text p {
    display: table;
    background: #008009;
    background: -moz-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #008009), color-stop(100%, #cfffba));
    background: -webkit-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -o-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -ms-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: linear-gradient(45deg, #008009 0%, #cfffba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.block2_left_title_bottom {
  font-size: 68px;
  text-transform: uppercase;
  text-align: justify;
  font-family: 'Roboto Condensed', sans-serif; }

.block2_left_bottom {
  font-size: 36px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif; }

.block2_left_title_top {
  font-size: 43px;
  text-transform: uppercase;
  text-align: justify; }

.block2_link_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.block2_link_li {
  margin-right: 10px; }
  .block2_link_li img {
    width: 35px;
    height: 35px; }

.graf img {
  width: 450px;
  height: auto; }

@media screen and (max-width: 1030px) {
  .block2 {
    grid-area: block2;
    display: grid;
    grid-template-areas: "block2_right" "block2_left";
    padding-top: 80px;
    background-image: url("/images/bg/bgbg.png");
    background-position: center;
    background-size: cover;
    color: aliceblue;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .graf {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .graf img {
      width: 450px;
      height: 400px; } }

@media screen and (max-width: 500px) {
  .block2_left_title_top {
    font-size: 33px; }
  .block2_left_title_bottom {
    font-size: 56px; }
  .block2_left_bottom {
    font-size: 28px; }
  .graf {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .graf img {
      width: 320px;
      height: 290px; } }

@media screen and (max-width: 500px) {
  .block2_left_title_top {
    font-size: 27px; }
  .block2_left_title_bottom {
    font-size: 45px; }
  .block2_left_bottom {
    font-size: 22px; } }
