.block5 {
  padding-top: 60px;
  grid-area: block5;
  display: grid;
  grid-template-areas: "block5_left" " block5_right";
  grid-template-columns: 1fr;
  background-image: url("/images/bg/bg1.png");
  background-position: center;
  background-size: cover;
  position: relative; }

.block5_left {
  grid-area: block5_left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px; }

.block5_left_ul {
  display: grid;
  grid-template-areas: "block5_left_text_top" "block5_left_text_center" "block5_left_text_bottom" "block5_left_text_small";
  text-transform: uppercase; }

.block5_left_text_top {
  grid-area: block5_left_text_top;
  font-size: 23px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif; }

.block5_left_text_center {
  grid-area: block5_left_text_center;
  font-size: 102px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 4px; }
  .block5_left_text_center p {
    display: table;
    line-height: 0.7;
    background: #008009;
    background: -moz-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #008009), color-stop(100%, #cfffba));
    background: -webkit-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -o-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -ms-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: linear-gradient(45deg, #008009 0%, #cfffba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.block5_left_text_bottom {
  grid-area: block5_left_text_bottom;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif; }
  .block5_left_text_bottom p {
    display: table;
    line-height: 0.7;
    background: #008009;
    background: -moz-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #008009), color-stop(100%, #cfffba));
    background: -webkit-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -o-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -ms-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: linear-gradient(45deg, #008009 0%, #cfffba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.block5_left_text_small {
  grid-area: block5_left_text_small;
  font-size: 17px;
  text-align: end;
  font-family: 'Open Sans', sans-serif;
  padding-right: 20px; }
  .block5_left_text_small p {
    color: #e6e6e6; }

.block5_right {
  grid-area: block5_right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }

.block5_right_info {
  grid-area: block5_right_info;
  position: relative;
  display: grid;
  grid-template-areas: "block5_right_ul . block5_right_left_ul";
  grid-template-columns: 1fr 150px 1fr;
  position: relative; }
  .block5_right_info p {
    padding-left: 6px; }

.block5_right_left_ul {
  position: relative;
  padding-top: 100px;
  grid-area: block5_right_left_ul; }

.block5_left_li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
  /*background: rgba(190,235,179,1);
    background: -moz-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(190,235,179,1)), color-stop(50%, rgba(41,227,47,1)), color-stop(100%, rgba(194,237,187,1)));
    background: -webkit-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -o-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beebb3', endColorstr='#c2edbb', GradientType=1 );
    */
  height: 45px;
  width: 340px;
  border-radius: 5px; }
  .block5_left_li p {
    color: white;
    width: 280px;
    font-size: 23px; }

.block5_right_ul {
  position: relative;
  padding-top: 100px;
  grid-area: block5_right_ul;
  display: flex;
  flex-direction: column; }

.block5_right_li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
  /*background: rgba(190,235,179,1);
    background: -moz-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(190,235,179,1)), color-stop(50%, rgba(41,227,47,1)), color-stop(100%, rgba(194,237,187,1)));
    background: -webkit-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -o-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beebb3', endColorstr='#c2edbb', GradientType=1 );
    */
  height: 45px;
  width: 340px;
  border-radius: 5px; }
  .block5_right_li p {
    color: white;
    width: 280px;
    font-size: 23px; }

/*.block5_right_li::before{
    content: "1";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 30px;
    height: 45px;
    width: 30px;
    text-align: center;
    align-self: center;
    
}*/
.block5_left_li_num {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 30px;
  background: #1c7501;
  font-size: 24px;
  border-radius: 5px 5px 5px 5px; }
  .block5_left_li_num p {
    color: white; }

.block5_item_text {
  grid-area: block5_item_text;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px; }
  .block5_item_text p {
    text-align: center; }

@media screen and (max-width: 800px) {
  .block5_right_info {
    grid-area: block5_right_info;
    position: relative;
    display: grid;
    grid-template-areas: ". block5_right_ul ." " . block5_right_left_ul .";
    grid-template-columns: 50px 1fr  50px;
    position: relative; }
    .block5_right_info p {
      padding-left: 6px; }
  .block5_right_left_ul {
    position: relative;
    padding-top: 0px;
    grid-area: block5_right_left_ul; } }

@media screen and (max-width: 550px) {
  .block5_grid {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 220px; } }

@media screen and (max-width: 500px) {
  .block5_left {
    grid-area: block5_left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; } }

@media screen and (max-width: 420px) {
  .block5_right_info {
    grid-area: block5_right_info;
    position: relative;
    display: grid;
    grid-template-areas: ". block5_right_ul" " . block5_right_left_ul";
    grid-template-columns: 5px 1fr;
    position: relative; }
    .block5_right_info p {
      padding-left: 6px; } }
