.block4 {
  padding-top: 60px;
  grid-area: block4;
  display: grid;
  grid-template-areas: "block4_left block4_right";
  position: relative;
  background-image: url("/images/bg/bg2.png");
  background-position: center center;
  background-size: cover; }
  .block4 p {
    color: wheat; }

.block4_left {
  grid-area: block4_left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 20px; }

.block4_left_ul {
  display: grid;
  grid-template-areas: "block4_left_text_top" "block4_left_text_center" "block4_left_text_bottom" "block4_left_text_small";
  text-transform: uppercase; }

.block4_left_text_top {
  grid-area: block4_left_text_top;
  font-size: 23px;
  margin-bottom: 10px; }

.block4_left_text_center {
  grid-area: block4_left_text_center;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 102px; }
  .block4_left_text_center p {
    display: table;
    background: #008009;
    background: -moz-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #008009), color-stop(100%, #cfffba));
    background: -webkit-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -o-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -ms-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: linear-gradient(45deg, #008009 0%, #cfffba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.block4_left_text_bottom {
  grid-area: block4_left_text_bottom;
  font-size: 55px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px; }
  .block4_left_text_bottom p {
    display: table;
    background: #008009;
    background: -moz-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #008009), color-stop(100%, #cfffba));
    background: -webkit-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -o-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: -ms-linear-gradient(45deg, #008009 0%, #cfffba 100%);
    background: linear-gradient(45deg, #008009 0%, #cfffba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.block4_left_text_small {
  grid-area: block4_left_text_small;
  font-size: 17px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif; }
  .block4_left_text_small p {
    color: #e6e6e6; }

.block4_right {
  grid-area: block4_right;
  display: grid;
  grid-template-areas: "block4_right_info block4_right_foto"; }

.block4_right_left_info {
  grid-area: block4_right_info;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start; }

.block4_right_foto {
  position: relative;
  grid-area: block4_right_foto;
  padding: 0;
  z-index: 1000; }
  .block4_right_foto img {
    width: 600px;
    height: auto; }
  .block4_right_foto img {
    float: right;
    margin: 0;
    padding: 0; }

.block4_right_ul {
  position: relative;
  padding-top: 80px; }

.block4_right_li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  text-align: start;
  font-family: 'Open Sans', sans-serif;
  z-index: 1001; }
  .block4_right_li i {
    color: #eeeeee;
    margin-right: 10px; }

.block4_item_text {
  grid-area: block4_item_text;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px; }
  .block4_item_text p {
    text-align: center; }

/*.block4_right_left_info{
    display: none;
    
}*/
@media screen and (max-width: 1030px) {
  .block4 {
    padding-top: 60px;
    grid-area: block4;
    display: grid;
    grid-template-areas: "block4_left block4_right";
    grid-template-rows: 650px;
    position: relative;
    background-image: url("/images/bg/bg2.png");
    background-position: center center;
    background-size: cover; }
    .block4 p {
      color: wheat; }
  .block4_right_info {
    display: none; }
  .block4_right_ul {
    position: relative;
    right: 0;
    padding-top: 80px; }
  .block4_left {
    grid-area: block4_left;
    display: grid;
    justify-content: start;
    padding-left: 50px;
    padding-top: 20px;
    grid-template-areas: "block4_left_info" "block4_right_left_info"; }
  .block4_right_foto {
    grid-area: block4_right_foto;
    display: flex;
    align-items: flex-end;
    padding: 0;
    z-index: 1000;
    left: 0px;
    /* display: flex;
        flex-direction: row;
        justify-content: center;*/ }
  .block4_right_left_info {
    grid-area: block4_right_left_info;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start; } }

@media screen and (max-width: 930px) {
  .block4_right_foto {
    position: relative;
    grid-area: block4_right_foto;
    padding: 0;
    z-index: 1000; }
    .block4_right_foto img {
      width: 500px;
      height: auto; } }

@media screen and (max-width: 800px) {
  .block4_right_foto {
    position: relative;
    grid-area: block4_right_foto;
    padding: 0;
    z-index: 1000;
    right: 0px;
    left: -50px; }
    .block4_right_foto img {
      width: 450px;
      height: auto; } }

@media screen and (max-width: 750px) {
  .block4_right_foto {
    overflow: hidden;
    left: 0px; } }

@media screen and (max-width: 650px) {
  .block4 {
    padding-top: 60px;
    grid-area: block4;
    display: grid;
    grid-template-areas: "block4_right" "block4_left";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 520px;
    position: relative;
    background-image: url("/images/bg/bg2.png");
    background-position: center center;
    background-size: cover; }
    .block4 p {
      color: wheat; }
  .block4_right_foto {
    position: relative;
    grid-area: block4_right_foto;
    z-index: 1000;
    border-radius: 20px; }
    .block4_right_foto img {
      width: 300px;
      height: auto; } }
