.call_me {
  grid-area: call_me;
  display: flex;
  align-items: center; }

.call_me_block {
  display: grid;
  grid-template-areas: "call_me_top" "call_me_form" "call_me_bottom";
  grid-template-rows: 100px 240px 140px;
  width: 320px;
  background: #fff;
  grid-area: call_me_block;
  position: relative;
  border-radius: 10px; }

.call_me_top {
  grid-area: call_me_top;
  display: grid;
  grid-template-areas: "new_price";
  border-radius: 10px 10px 0 0;
  background: #1b500a; }

.new_price {
  grid-area: new_price;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 20px;
  border-radius: 20px 20px 0 0;
  font-family: 'Open Sans', sans-serif; }

.input {
  height: 55px;
  width: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background: #f6f6f6; }

.call_me_form {
  grid-area: call_me_form;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px; }

.call_me_bottom {
  grid-area: call_me_bottom;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif; }

.form_tel, .form_mail {
  padding-top: 15px; }

.submit {
  height: 60px;
  width: 280px;
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 4px; }

#sub {
  width: 230px;
  height: 60px;
  background: #29860c;
  border: none;
  font-size: 22px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.sub_pre {
  width: 50px;
  height: 60px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #1c7501;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff; }

.call_me_bottom_info {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  padding: 0 20px; }

.call_me_blocked {
  margin: 20px 0; }
  .call_me_blocked img {
    margin-right: 5px; }

.blick {
  position: absolute;
  top: -10px;
  left: 12px; }
