$black: #000;
.block4{
    padding-top: 60px;
    grid-area: block4;
    display: grid;
    grid-template-areas:
    "block4_left block4_right";
    //grid-template-columns: 320px 740px;
    p{
        color: wheat;
    }
   // grid-template-rows:500px;
    position: relative;
    background-image: url("/images/bg/bg2.png");
    background-position: center center;
    background-size: cover;
}

.block4_left{
    grid-area: block4_left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //align-items: center;
    padding-left: 50px;
    padding-top: 20px;

}
.block4_left_ul{
    display: grid;
    grid-template-areas: "block4_left_text_top"
    "block4_left_text_center"
    "block4_left_text_bottom"
    "block4_left_text_small";
    text-transform: uppercase;

}
.block4_left_text_top{
    grid-area: block4_left_text_top;
    font-size: 23px;
    margin-bottom: 10px;
}
.block4_left_text_center{
    grid-area: block4_left_text_center;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 102px;
    p{
        
        display: table;
      //  line-height: 0.7;
     
        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    }

}
.block4_left_text_bottom{
    grid-area: block4_left_text_bottom;
    font-size: 55px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
    p{
        
        display: table;
        //line-height: 0.7;
     
        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    }

}
.block4_left_text_small{
    grid-area: block4_left_text_small;
    font-size: 17px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;

    p{
        color: lighten($black, 90);
    }


}
.block4_right{
    grid-area: block4_right;
    //padding: 30px;
    display: grid;
    grid-template-areas: "block4_right_info block4_right_foto";
   //grid-template-columns: 1fr 650px;
    //position: relative;
}
.block4_right_left_info{
    grid-area: block4_right_info;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.block4_right_foto{
    position: relative;
    grid-area: block4_right_foto;

    //bottom: 33px;
    padding: 0;
    z-index: 1000;

    img{
        width: 600px;
        height: auto;
    }
    
   

    img{ float: right;
        margin: 0;
        padding: 0;
    }
    
}
.block4_right_ul{
    position: relative;
   // right: -120px;
    padding-top: 80px;
}
.block4_right_li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    text-align: start;
    font-family: 'Open Sans', sans-serif;
    z-index: 1001;

    i{
        color: #eeeeee;
        margin-right: 10px;

    }
}


.block4_item_text{
    grid-area: block4_item_text;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    p{text-align: center;
    }
    

}
/*.block4_right_left_info{
    display: none;
    
}*/
@media screen and (max-width:1030px){
    .block4{
        
            padding-top: 60px;
            grid-area: block4;
            display: grid;
            grid-template-areas:
            "block4_left block4_right";
            //grid-template-columns: 320px 740px;
            p{
                color: wheat;
            }
            grid-template-rows: 650px;
            position: relative;
            background-image: url("/images/bg/bg2.png");
            background-position: center center;
            background-size: cover;
        

    //grid-template-columns: minmax(740px, 1fr);
}
.block4_right_info{
    display: none;
}
.block4_right{
   // display: flex;
   // justify-content: center;
}
.block4_right_ul{
    position: relative;
    right: 0;
    padding-top: 80px;
}
.block4_left{
    grid-area: block4_left;
    display: grid;

    justify-content: start;
    //align-items: center;
    padding-left: 50px;
    padding-top: 20px;
    grid-template-areas: "block4_left_info"
    "block4_right_left_info";


}
.block4_right_foto{
   
        grid-area: block4_right_foto;
        display: flex;
        align-items: flex-end;      
        padding: 0;
        z-index: 1000;
        left: 0px;
        
       /* display: flex;
        flex-direction: row;
        justify-content: center;*/
    

        
       

    
}
.block4_right_left_info{
   
        grid-area: block4_right_left_info;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
    
}



}
@media screen and (max-width:930px){
    .block4_right_foto{
        position: relative;
        grid-area: block4_right_foto;
    
        //bottom: 33px;
        padding: 0;
        z-index: 1000;
    
        img{
            width: 500px;
            height: auto;
        }
    }
}
@media screen and (max-width:800px){
    .block4_right_foto{
        position: relative;
        grid-area: block4_right_foto;
    
        //bottom: 33px;
        padding: 0;
        z-index: 1000;
        right: 0px;
        left: -50px;
        img{
            width: 450px;
            height: auto;
        }
    }
}


@media screen and (max-width:750px){
    .block4_right_foto{
        overflow: hidden;
        left: 0px;
    }
}
@media screen and (max-width:650px){
    .block4{
        
        padding-top: 60px;
        grid-area: block4;
        display: grid;
        grid-template-areas:"block4_right"
        "block4_left";
        grid-template-columns: 1fr ;
        p{
            color: wheat;
        }
        grid-template-rows:1fr 520px;
        position: relative;
        background-image: url("/images/bg/bg2.png");
        background-position: center center;
        background-size: cover;
    
    }
//grid-template-columns: minmax(740px, 1fr);

.block4_right_foto{
    position: relative;
    grid-area: block4_right_foto;

    //bottom: 33px;
    //padding: 40px;
    z-index: 1000;
    border-radius: 20px;
   // background: #eeeeee;
    img{
        width: 300px;
        height: auto;
    }
}
}

