$black: #000;
.block5{
    margin-top: 60px;

    grid-area: block5;
    display: grid;
    grid-template-areas: "block5_left"
    " block5_right";

    grid-template-columns: 1fr;

    position: relative;
    background: $black;
}

.block5_left{
    grid-area: block5_left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-items: center;
   // padding-left: 50px;
    padding-top: 20px;

}
.block5_left_ul{
    display: grid;
    grid-template-areas: "block5_left_text_top"
    "block5_left_text_center"
    "block5_left_text_bottom"
    "block5_left_text_small";
    text-transform: uppercase;

}
.block5_left_text_top{
    grid-area: block5_left_text_top;
    font-size: 23px;
    margin-bottom: 10px;
    color: white;
}
.block5_left_text_center{
    grid-area: block5_left_text_center;
    font-size: 102px;
    p{
        
        display: table;
        line-height: 0.7;
     
        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    }

}
.block5_left_text_bottom{
    grid-area: block5_left_text_bottom;
    font-size: 55px;
    margin-bottom: 10px;
    p{
        
        display: table;
        line-height: 0.7;
     
        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    }

}
.block5_left_text_small{
    grid-area: block5_left_text_small;
    font-size: 17px;
    text-align: end;  
    p{
        color: lighten($black, 90);
    }


}
.block5_right{
    grid-area: block5_right;
    //padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.block5_right_info{
    grid-area: block5_right_info;
    position: relative;
    display: grid;
    grid-template-areas: "block5_right_ul . block5_right_left_ul";
    grid-template-columns: 1fr 150px 1fr;
    position: relative;
    p{
        padding-left: 6px;
}
}
.block5_right_left_ul{
    position: relative;
    //right: -250px;
    padding-top: 100px;
    grid-area: block5_right_left_ul; 

}
.block5_left_li{
    display: flex;
    flex-direction: row;
    justify-content: start;  
    align-items: center;
    margin-bottom: 25px;
    p{
        color: rgb(85, 85, 85);
        width: 280px;
    }

    background: rgba(190,235,179,1);
    background: -moz-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(190,235,179,1)), color-stop(50%, rgba(41,227,47,1)), color-stop(100%, rgba(194,237,187,1)));
    background: -webkit-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -o-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beebb3', endColorstr='#c2edbb', GradientType=1 );
    height: 45px;

    width: 330px;
    border-radius: 5px;
}
.block5_right_ul{
    position: relative;
   // right: -250px;
    padding-top: 100px;
    grid-area: block5_right_ul; 
    display: flex;
    flex-direction: column;
}
.block5_right_li{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
    p{
        color: rgb(85, 85, 85);
        width: 280px;
    }

    background: rgba(190,235,179,1);
    background: -moz-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(190,235,179,1)), color-stop(50%, rgba(41,227,47,1)), color-stop(100%, rgba(194,237,187,1)));
    background: -webkit-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -o-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    background: linear-gradient(45deg, rgba(190,235,179,1) 0%, rgba(41,227,47,1) 50%, rgba(194,237,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beebb3', endColorstr='#c2edbb', GradientType=1 );
    height: 45px;
      width: 330px;
    border-radius: 5px;
}
/*.block5_right_li::before{
    content: "1";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 30px;
    height: 45px;
    width: 30px;
    text-align: center;
    align-self: center;
    
}*/
.block5_left_li_num{
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: center;
    height: 45px;
    width: 30px;
    background: #1c7501;
    font-size: 24px;
    border-radius: 5px 0  0 5px;
    p{
        color: white;
    }
}

.block5_item_text{
    grid-area: block5_item_text;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    p{text-align: center;
    }
    

}
@media screen and (max-width:1030px){
    .block5{
    grid-template-areas: "block5_title"
    "block5_right";
    grid-template-rows: 100px 1fr;

    grid-template-columns: minmax(740px, 1fr);
}
.block5_right{
    display: flex;
    justify-content: center;
}
.block5_left{
    display: none;
}


}
@media screen and (max-width:750px){
    .block5_grid{
       
        display: grid;
        grid-template-columns:  220px 220px;
        grid-auto-rows:  repeat(auto-fill, 250px);
        grid-auto-flow: dense;
        padding-left: 20px;
        justify-content: center;

 }
 .block5_title{
    text-align: center;
    }
 .block5{
    grid-template-areas: "block5_title"
    "block5_right";
    grid-template-rows: 120px 1fr ;
    background: black;
    grid-template-columns: minmax(340px, 1fr);}
.block5_title{
    text-align: center;
    font-size: 38px;
}}
@media screen and (max-width:550px){
    .block5_grid{
        padding-top: 15px;
        display: grid;
        grid-template-columns: 220px;}

}