.block2{
    grid-area: block2;
    display: grid;
    grid-template-areas: "block2_left block2_right ."
    "block2_botton block2_botton .";
    margin-top: 40px;

    color: aliceblue;
    grid-template-columns: 1fr 1fr 40px;
    grid-template-rows: 500px 50px;
    
}
.block2_right{
    grid-area: block2_right; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    align-self: center;
    margin-right: 20px;
}
.block2_video{
    width: 100%;
}
.block2_left{
    grid-area: block2_left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    align-self: center;
    
}
.block2_botton{
    grid-area: block2_botton;
}
.block2_left_info{
    align-self: center;
    display: grid;
    grid-template-areas: "block2_left_title"
    "block2_left_clock"
    "block2_left_text";
    grid-template-rows: 60px 100px 120px;
}
.block2_left_title{
    grid-area: block2_left_title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
        display: table;
     
     
        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
      }
}
.block2_left_clock{
    grid-area: block2_left_clock;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block2_left_text{
    grid-area: block2_left_text;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-align: justify;
    p {
        display: table;
     
      
        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
      }
}
.block2_left_title_bottom{
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;


}
.block2_left_bottom{
    font-size: 36px;
    text-align: justify;
}
.block2_left_title_top{
    font-size: 43px;
    text-transform: uppercase;
    text-align: justify;
}
.block2_link_ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block2_link_li{
    img{
        width: 35px;
        height:  35px;
    }
    margin-right: 10px;
}
