$border: rgba(238, 238, 238, 1);
.header{
    grid-area: header;
    display: grid;
    //width: 100%;
    grid-template-areas: "nav nav"
    "left right";
    grid-template-columns: 600px minmax(350px, 1fr) ;
    background-image: url("/images/bg_header.png");
    background-position: center center ;
    background-size: cover;
    
}
.left{
    grid-area: left;
    display: grid;
    grid-template-areas: "header_text"
    "product";
    justify-content: flex-start;
    margin-right: 60px;
    padding-top: 170px;

    
}

.right{
    grid-area: right;
    display: grid;
    grid-template-areas: "header_number"
    "call_me";
    justify-content: flex-start;
    padding-top: 70px;

}
@import "form.scss";
.nav{

    grid-area: nav;
    display: grid;
    justify-content: left;
    grid-template-areas: "logo title .";
    grid-template-columns: 1fr 1fr minmax(3px, 1fr) ;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
    margin-top: 30px;

}
.logo{
    padding-left: 70px;
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 32px;
    color: $white;
    align-items: flex-end;
    img{
        height: 55px;
        width: 55px;
        margin-right: 10px;
    }
}
.title{
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    i{
        color: #eeeeee;
        opacity: 0.7;
        margin-right: 20px;
    }

    
}


.sale{
    grid-area: sale;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.sale_block{
        display: grid;
    grid-template-areas: "sale_foto"
    "sale_text";
    width: 280px;
}
.sale_foto{
    grid-area: sale_foto;
    margin-bottom: 20px;
}
.sale_text{
    grid-area: sale_text;
    font-size: 19px;
    color:$white;
}
.header_text{
    grid-area: header_text;
    display: grid;
    grid-template-areas: "header_text_title";
    color:$white;
    border-right: 2px solid rgba(238, 238, 238, 1);
    margin-left: 70px;
    padding-right: 40px;
    display: table;


}
.header_text_title{
    grid-area: header_text_title;
    margin-bottom: 10px;
    


}

.header_text_ul{
    grid-area: header_text_ul;
    font-size: 16px;


}
.header_text_li{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:$white;

    img{
        margin-right: 10px;
        margin-bottom: 10px;
      //  background: #000000;
    }
}
.header_number{
    opacity: 0;
    grid-area: header_number;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-bottom: 40px;
}
.header_number_block{
    display: flex;
    flex-direction: row;
    
}
.header_number_li{
    height: 60px;
    width: 50px;
    font-size: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;

   
 
    
    p{
        white-space:pre;
        position:relative;
        display:inline-block;
        color: #000000;
        width: 100%;
    }
    p:after{
        content:"";
        display:block;
        position:absolute;
       top:50%;        
        height:0;
        border-bottom:1px solid red;
        transform:rotate(-1deg);
    }
}
.header_number_li_first{
    background: #bdb6b6;
    color: #443a37;
    p{
        white-space:pre;
        display:flex;
        justify-content: center;
        flex-direction: row;
        color: #443a37;
 
    }
    p:after{
        content:"";
        width:100%;
        height:0;
        border-bottom:1px solid #e6d7d4;
        transform:rotate(-1deg);
    }
}
.header_number_li_second{
    background: #f6f6f6;
    color: #000000;


   
 
    
    p{
        white-space:pre;
        display:flex;
        justify-content: center;
        flex-direction: row;
        color: #000000;
 
    }
    p:after{
        content:"";
        width:100%;
        height:0;
        border-bottom:1px solid #cecece;
        transform:rotate(-1deg);
    }
}
.header_number_title{

color: $white;
background: rgba(0, 0, 0, 0.493);
}
.product{
    grid-area: product;
    flex-direction: row;
   //display: flex;
    display: none;
    position: relative;
    margin-left: 50px;
    justify-content: center;

}
.product_list{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
 
}
.product_ul{
    width: 345px;

    position: relative;
    height: 270px;
}
.product_li{
  //  padding: 0 20px;
    left: 20px;
    color: white;
    width: 300px;
    background: #bdb6b6;
    height: 50px;
   // border-bottom: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20;
}
.product_li_border{
    border-radius: 5px 5px 0 0;
}
.product_li_bottom{
    border-radius: 0 0 5px 5px ;

}
.product_li:hover{

    width:  340px;
    height: 70px;
    padding: 0;
    left: 0;
    top: 0;


    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.61);
    border-radius: 5px 5px 5px 5px ;
    transition: 0.6s;

}
@media screen and (max-width:1000px){
    .body_pages{

        background: #000000;

    }

    .header{
        justify-content: center;
        grid-area: header;
        display: grid;
        grid-gap: 30px;
        //width: 100%;
        grid-template-areas: "nav "
        "title"
        "left"
        "center"
        "right";
        grid-template-columns: 1fr;
       // grid-template-rows: 1fr 1fr 6fr 2fr 6fr;
        background-image: url("/images/bgheadermedia.png");
        //background-position: center center ;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
    }
    .nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 40px;
    .head_menu{
        display: none

    }
    }
    .title{
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;

    }
    .left{
        grid-area: left;
        display: grid;
        grid-template-areas: "header_text_title"
        "product";
        justify-content: center;
    }
    .center{
        grid-area: center;
        display: grid;
        grid-template-areas: "sale";
        justify-content: center;
        margin: 30px 0;
    }
    .right{
        grid-area: right;
        display: grid;
        grid-template-areas: "header_number"
        "call_me";
        justify-content: center;
    }
    .sale{
        justify-content: center;
    }
    .sale_text{
        background: rgba(0, 0, 0, 0.493);
    }
    .header_text{
        justify-content: center;
    }
    .product{
        justify-content: flex-end;
    }
    .header_number{
        margin-bottom: 110px;
    }
}
.red{
    color: red;
}
.shag{
    font-size: 54px;
    text-transform: uppercase;

        display: table;
        font-family: 'Roboto Condensed', sans-serif;

        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
      
}
.title_text{
    font-size: 44px;

}
.title_text_medium{
    font-size: 26px;
    color:white;
    text-transform: uppercase;

}
.title_text_small{
    font-size: 32px;
    color:white;
    font-family: 'Open Sans', sans-serif;

        display: table;
     
       /* background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
      
      

}
.title_text_botton{
    font-size: 34px;
    color:white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;

        display: table;
     
        background: rgba(0,128,9,1);
        background: -moz-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,128,9,1)), color-stop(100%, rgba(207,255,186,1)));
        background: -webkit-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -o-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        background: linear-gradient(45deg, rgba(0,128,9,1) 0%, rgba(207,255,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008009', endColorstr='#cfffba', GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    

}
.header_text_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    img{
        width: 90px;
        height: 60px;
    }
}
.header_info_ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header_info_li_six{
    
       img{
        width: 130px;
        height: 50px;
    }
}
.header_info_li_nyse{
    margin: 0 10px;
}